/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.workspace-tabs.mod-stacked.mod-top.mod-active >div> .workspace-tab-header-spacer{
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}